.header {
    background-color: #f2f2f2;
    text-align: center;
    height: 50px;
    line-height: 45px;
}

.main {
    height: 100%;
}

.footer {
    background-color: #080808;
    color: white;
    height: 80px;
    line-height: 40px;
    text-align: center;
}

.middle {
    height: calc(100% - 130px);
    background-color: lightblue;
    text-align: center;
    overflow: auto;
    padding: 15px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: arial, sans-serif;
}
.navbar
{
    background-color: #080808;
    margin:0;
    border: 0;
    border-radius: 0;
}
.mdropdown{
    background-color: #080808;
    margin-left: 60%
}
.mdropdown button{
    background-color: #080808;
}
.mdropdown button:hover, .mdropdown button:focus, .mdropdown.open button{
    background-color: #080808 !important;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.content .box{    
      box-shadow: 0 8px 6px -6px black;
      background-color: white;
      margin-top: 10px;  
      margin-bottom: 10px;  
      min-height: 200px;
      min-width: 200px;
      position: relative;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.strip {
    height: 30px;
    background-color: #33b2b7;
    /* border-left: 15px solid transparent;
    border-right: 15px solid #f5f5f5;
    border-bottom: 15px solid transparent;*/
    border-top: 15px solid transparent; 
    line-height: 5px;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
}

.caret-right {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-left: 6px solid;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  color:white;
  margin-left: 100px;
  margin-top: -4px;
}


